In [1]:
from mpl_toolkits.mplot3d import Axes3D
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("notice.csv")

In [2]:
#DataFrame with columns
columns = pd.DataFrame(list(df.columns.values[1:]))

#DataFrame with data types
data_types = pd.DataFrame(df.dtypes, columns=['Data Type'])

#DataFrame with Count
data_count = pd.DataFrame(df.count(), columns=['Count'])

#DataFrame with unique values
unique_value_counts = pd.DataFrame(columns=['Unique Values'])
for v in list(df.columns.values):
    unique_value_counts.loc[v] = [df[v].nunique()]

missing_data_counts = pd.DataFrame(df.isnull().sum(), columns=['Missing Values'])
data_quality_report = data_types.join(data_count).join(unique_value_counts).join(missing_data_counts)
print('Data Quality Report')
data_quality_report

Data Quality Report

                             Data Type  Count Unique Values  Missing Values
ts                             float64   2843          2619               0
uid                             object   2810          2313              33
id.orig_h                       object   2810           128              33
id.orig_p                      float64   2810           158              33
id.resp_h                       object   2810           636              33
id.resp_p                      float64   2810            17              33
fuid                            object   2746          2746              97
file_mime_type                  object   2746             5              97
file_desc                       object   2746          1856              97
proto                           object   2843             1               0
note                            object   2843             3               0
msg                             object   2843           870               0
sub                             object   2843           846               0
src                             object   2843           128               0
dst                             object   2810           636              33
p                                int64   2843            22               0
n                              float64      0             0            2843
peer_descr                      object   2843             1               0
actions                         object   2843             1               0
suppress_for                   float64   2843             1               0
dropped                         object   2843             1               0
remote_location.country_code   float64      0             0            2843
remote_location.region         float64      0             0            2843
remote_location.city           float64      0             0            2843
remote_location.latitude       float64      0             0            2843
remote_location.longitude      float64      0             0            2843