In [1]:
from mpl_toolkits.mplot3d import Axes3D
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("ftp.csv")

In [2]:
#DataFrame with columns
columns = pd.DataFrame(list(df.columns.values[1:]))

#DataFrame with data types
data_types = pd.DataFrame(df.dtypes, columns=['Data Type'])

#DataFrame with Count
data_count = pd.DataFrame(df.count(), columns=['Count'])

#DataFrame with unique values
unique_value_counts = pd.DataFrame(columns=['Unique Values'])
for v in list(df.columns.values):
    unique_value_counts.loc[v] = [df[v].nunique()]

missing_data_counts = pd.DataFrame(df.isnull().sum(), columns=['Missing Values'])
data_quality_report = data_types.join(data_count).join(unique_value_counts).join(missing_data_counts)
print('Data Quality Report')
data_quality_report

Data Quality Report

           Data Type  Count Unique Values  Missing Values
ts           float64   5796          2390               0
uid           object   5796           137               0
id.orig_h     object   5796            15               0
id.orig_p      int64   5796            95               0
id.resp_h     object   5796            21               0
id.resp_p      int64   5796             1               0
user          object   5796             4               0
password      object   5745            12              51
command       object   5796             6               0
arg           object   2966          1545            2830
mime_type     object     95             8            5701
file_size    float64    105            78            5691
reply_code   float64   5756             9              40
reply_msg     object   5756          4184              40
passive       object   2897             2            2899
orig_h        object   2897            19            2899
resp_h        object   2897            20            2899
resp_p       float64   2897          2769            2899
fuid          object   5486           466             310