In [1]:
from mpl_toolkits.mplot3d import Axes3D
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("ssl.csv")

In [2]:
#DataFrame with columns
columns = pd.DataFrame(list(df.columns.values[1:]))

#DataFrame with data types
data_types = pd.DataFrame(df.dtypes, columns=['Data Type'])

#DataFrame with Count
data_count = pd.DataFrame(df.count(), columns=['Count'])

#DataFrame with unique values
unique_value_counts = pd.DataFrame(columns=['Unique Values'])
for v in list(df.columns.values):
    unique_value_counts.loc[v] = [df[v].nunique()]

missing_data_counts = pd.DataFrame(df.isnull().sum(), columns=['Missing Values'])
data_quality_report = data_types.join(data_count).join(unique_value_counts).join(missing_data_counts)
print('Data Quality Report')
data_quality_report

Data Quality Report

                    Data Type  Count Unique Values  Missing Values
ts                    float64  56214         38083               0
uid                    object  56214         46925               0
id.orig_h              object  56214            38               0
id.orig_p               int64  56214         24931               0
id.resp_h              object  56214            61               0
id.resp_p               int64  56214             8               0
version                object  47762             7            8452
cipher                 object  47762            14            8452
server_name            object     46            13           56168
session_id             object   4675          2523           51539
subject                object  45557            21           10657
issuer_subject         object  45557            21           10657
not_valid_before      float64  45557            50           10657
not_valid_after       float64  45557            50           10657
last_alert             object   9362           256           46852
client_subject        float64      0             0           56214
clnt_issuer_subject   float64      0             0           56214
cer_hash               object  45557            50           10657
validation_status      object  45535             3           10679